<a href="https://colab.research.google.com/github/FauxGrit/Titanic-Fairness/blob/main/ISYE7406_SP_Experiments_v3_price_per_bedroom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective: Initial Exploration of 'price' Model
 **Objective**: This code provides an iniital exploration for building a model to predict Airbnb prices.  In particular we are interested in learning which features are most important.

**Assumptions**: 
1. N/A

**Open Questions**:  
1. N/A

**Reference Links**
1. N/A

### Check Python Version

In [2]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.15 (default, Oct 12 2022, 19:14:39)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=8, micro=15, releaselevel='final', serial=0)

### Importing Necessary Libraries

In [1]:
!pip install pycaret

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pycaret in /usr/local/lib/python3.8/dist-packages (2.3.10)
Requirement already satisfied: Boruta in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.3)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: pyyaml<6.0.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (5.4.1)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.5.4)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.11.2)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.5.0)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (2.3.8)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.8.2.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.2.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.8/dist-packages (from pycaret) (7.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.3.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.7)
Requirement already satisfied: imbalanced-learn==0.7.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.7.0)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.23.2)
Requirement already satisfied: IPython in /usr/local/lib/python3.8/dist-packages (from pycaret) (7.9.0)
Requirement already satisfied: mlxtend>=0.17.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.19.0)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.3.3)
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: pyod in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.0.6)
Requirement already satisfied: numba<0.55 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.54.1)
Requirement already satisfied: mlflow in /usr/local/lib/python3.8/dist-packages (from pycaret) (2.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.5.3)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.12.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn==0.7.0->pycaret) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==0.23.2->pycaret) (3.1.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.8/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (0.18.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (2.0.10)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (5.3.4)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (3.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (3.0.3)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->IPython->pycaret) (0.8.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.8/dist-packages (from lightgbm>=2.3.1->pycaret) (0.38.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (1.4.4)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /usr/local/lib/python3.8/dist-packages (from numba<0.55->pycaret) (0.37.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pycaret) (2022.6)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.10.2)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: multimethod<1.10,>=1.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.9)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.5)
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.28.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.13.5)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.3)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.64.1)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.13.3)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (22.1.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (0.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Requirement already satisfied: imagehash in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (4.3.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly>=4.4.1->pycaret) (8.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from pydantic<1.11,>=1.8.1->pandas-profiling>=2.8.0->pycaret) (4.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.13)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (7.4.6)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (0.10.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.0.9)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (0.7.9)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (3.0.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (2.0.7)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling>=2.8.0->pycaret) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling>=2.8.0->pycaret) (0.5.3)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.8/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.7.16)
Requirement already satisfied: nbconvert<6.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.15.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.13.3)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (23.2.1)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (4.11.2)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.7.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.0.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (2.16.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.10.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.19.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (3.10.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.8/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from bleach->nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (1.3.0)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (3.4.1)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.4.44)
Requirement already satisfied: shap<1,>=0.40 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.41.0)
Requirement already satisfied: alembic<2 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.8.1)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (3.19.6)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.17.3)
Requirement already satisfied: pyarrow<11,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (9.0.0)
Requirement already satisfied: docker<7,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (6.0.1)
Requirement already satisfied: Flask<3 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: querystring-parser<2 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: importlib-metadata!=4.7.0,<6,>=3.7.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (4.13.0)
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.5.0)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.4.3)
Requirement already satisfied: gunicorn<21 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: gitpython<4,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (3.1.29)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: Mako in /usr/local/lib/python3.8/dist-packages (from alembic<2->mlflow->pycaret) (1.2.4)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (3.2.2)
Requirement already satisfied: pyjwt>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (2.6.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (0.8.10)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.8/dist-packages (from docker<7,>=4.0.0->mlflow->pycaret) (1.4.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask<3->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask<3->mlflow->pycaret) (1.0.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from gitpython<4,>=2.1.0->mlflow->pycaret) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.8/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow->pycaret) (5.0.0)
Requirement already satisfied: slicer==0.0.7 in /usr/local/lib/python3.8/dist-packages (from shap<1,>=0.40->mlflow->pycaret) (0.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy<2,>=1.4.0->mlflow->pycaret) (2.0.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk->pycaret) (2022.6.2)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: numexpr in /usr/local/lib/python3.8/dist-packages (from pyLDAvis->pycaret) (2.8.4)
Requirement already satisfied: funcy in /usr/local/lib/python3.8/dist-packages (from pyLDAvis->pycaret) (1.17)

In [3]:
import warnings, os, xlrd, pickle
import time

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl

from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn import metrics
from sklearn import linear_model, preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
import statsmodels.api as sm

from pycaret.regression import *   ## <--- uncomment to run!!!
from geopy.distance import geodesic
from math import cos, sqrt

import seaborn as sns
from plotly.offline import init_notebook_mode, iplot
import plotly.figure_factory as ff
import cufflinks
cufflinks.go_offline()
cufflinks.set_config_file(world_readable=True, theme='pearl')
import plotly.graph_objs as go
import plotly
from plotly import tools

init_notebook_mode(connected=True)
pd.set_option('display.max_columns', 100)

# Supress warnings for cleaner presentation
# Turn off durng development!!!
%matplotlib inline
warnings.filterwarnings('ignore')

# Gather Data
Airbnb data from Kaggle https://www.kaggle.com/ivanovskia1/nyc-airbnb-rental-data-october-2017 .

**Preprocessing prior to data load:**
Significant data cleaning done using OpenRefine.

### Load Data into Notebook
* Load CSV file. It must be in same directory location as Jupyter Notebook (or add path to code).
* Print first five rows to confirm data load.
* Print shape to see how many rows and columns.

#### Merged and Cleaned Data

In [4]:
# Upload merged data file
df0 = pd.read_csv('Airbnb_Cleaned_Merged_v3.csv')

# Print first few rows to confirm data loaded
df0.head()

FileNotFoundError: ignored

In [ ]:
# Print shape of dataframe to determine number of rows and columns
print("Cleaned Airbnb Data\nNumber of rows: ", df0.shape[0], "\nNumber of columns: ", df0.shape[1])

Cleaned Airbnb Data
Number of rows:  39517
Number of columns:  78

In [ ]:
df0['price_per_bdrm'] = df0['price'] / df0['bedrooms']
df0.head()

,id,host_is_superhost,Greenpoint,Chelsea,East_Harlem,Midtown,Crown_Heights,Upper_East_Side,Hells_Kitchen,Upper_West_Side,East_Village,Bushwick,Harlem,Bedford_Stuyvesant,Williamsburg,latitude,longitude,accommodates,bathrooms,bedrooms,beds,real_bed,washer_dryer,free_parking,kitchen,air_conditioning,wireless_internet,price,guests_included,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,cancellation_policy_id,reviews_per_month,Misdem,Felony,Stores,StoresArea,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Citizen,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty,ChildPoverty,Professional,Service,Office,Construction,Production,Drive,Carpool,Transit,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,hmda_median_price,availability_30,neighbourhood_cleansed,price_per_bdrm
0,18461891,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.774142,-73.916246,2,1.0,0,1,1,0,0,1,1,1,110,1,6,6,0,-1,4,0.00,1322,748,116,173050,36081011500,Queens,Queens,2356.0,1243.0,1113.0,18.5,59.5,0.0,0.7,16.3,1598.0,63519.0,7123.0,35294.0,4794.0,16.9,39.7,48.0,25.7,16.2,3.3,6.8,11.2,0.0,69.4,16.1,1.1,2.2,34.6,1595.0,84.7,9.1,6.2,0.0,5.5,1200000.0,0,Ditmars Steinway,inf
1,3400359,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.866770,-73.859378,2,1.5,1,1,1,0,1,1,1,1,44,1,2,30,72,91,4,1.82,2182,984,93,175390,36005034200,Bronx,Bronx,2128.0,974.0,1154.0,37.9,8.3,47.1,0.0,6.3,1214.0,43304.0,10429.0,18132.0,2284.0,17.5,22.4,32.0,34.0,19.6,7.1,7.3,34.2,1.1,59.6,2.2,3.0,0.0,44.9,876.0,84.9,11.1,4.0,0.0,17.5,505000.0,14,Allerton,44.0
2,4407790,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.866820,-73.858116,2,1.5,1,1,1,0,1,1,1,1,47,1,2,30,35,95,3,0.98,2074,934,87,162590,36005034400,Bronx,Bronx,2324.0,1032.0,1292.0,30.9,9.6,41.5,0.0,5.4,1385.0,67813.0,17958.0,20082.0,3207.0,14.6,14.1,21.4,29.5,24.0,13.9,11.2,40.2,16.2,41.7,0.7,0.0,1.3,45.8,1086.0,84.1,12.2,3.8,0.0,13.0,500000.0,17,Allerton,47.0
3,715270,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.859559,-73.870669,3,1.0,1,2,1,0,0,1,1,1,39,1,2,365,131,90,4,2.17,1712,792,82,203640,36005033201,Bronx,Bronx,4125.0,1924.0,2201.0,63.5,17.7,11.3,0.0,3.1,2566.0,43038.0,6209.0,23101.0,2612.0,22.3,40.4,31.8,34.4,22.4,4.1,7.4,23.6,3.5,61.6,7.6,0.0,3.7,44.4,1898.0,80.7,14.9,4.4,0.0,14.8,255000.0,19,Allerton,39.0
4,18852048,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.859605,-73.863609,2,1.0,1,1,1,0,1,1,1,1,49,1,3,60,1,100,1,0.24,1892,833,104,229640,36005032800,Bronx,Bronx,4260.0,2358.0,1902.0,56.0,12.2,22.6,0.0,7.1,2161.0,30089.0,6710.0,15091.0,2654.0,31.7,38.7,23.4,36.6,22.0,8.4,9.6,25.0,1.0,52.1,18.6,2.1,1.3,36.1,1567.0,75.0,18.4,6.5,0.0,15.4,560000.0,0,Allerton,49.0

# Basic Data Exploration

### Numerical Data Basic Stats

#### Clean and Merged Airbnb Data

In [ ]:
df0.describe().T

,count,mean,std,min,25%,50%,75%,max
id,39517.0,1.148467e+07,6.490729e+06,2.515000e+03,6.020237e+06,1.223286e+07,1.734794e+07,2.117803e+07
host_is_superhost,39517.0,1.103070e-01,3.132759e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Greenpoint,39517.0,1.935876e-02,1.377842e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Chelsea,39517.0,2.563454e-02,1.580444e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
East_Harlem,39517.0,2.705165e-02,1.622360e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Midtown,39517.0,2.578637e-02,1.584994e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Crown_Heights,39517.0,3.416251e-02,1.816488e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Upper_East_Side,39517.0,3.044259e-02,1.718039e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Hells_Kitchen,39517.0,2.826632e-02,1.657348e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Upper_West_Side,39517.0,4.423413e-02,2.056175e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
East_Village,39517.0,4.210846e-02,2.008391e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Bushwick,39517.0,5.562163e-02,2.291925e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Harlem,39517.0,6.475694e-02,2.460996e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Bedford_Stuyvesant,39517.0,7.887745e-02,2.695508e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Williamsburg,39517.0,8.879723e-02,2.844544e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
latitude,39517.0,4.072919e+01,5.431312e-02,4.049979e+01,4.069006e+01,4.072184e+01,4.076377e+01,4.090804e+01
longitude,39517.0,-7.395439e+01,4.203971e-02,-7.425327e+01,-7.398254e+01,-7.395669e+01,-7.393900e+01,-7.371013e+01
accommodates,39517.0,2.813270e+00,1.856211e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,1.600000e+01
bathrooms,39517.0,1.130830e+00,4.206769e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.550000e+01
bedrooms,39517.0,1.160210e+00,7.224845e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01
beds,39517.0,1.553256e+00,1.074264e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+01
real_bed,39517.0,9.719108e-01,1.652297e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
washer_dryer,39517.0,3.633120e-01,4.809597e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
free_parking,39517.0,9.813498e-02,2.975008e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
kitchen,39517.0,9.279044e-01,2.586493e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
air_conditioning,39517.0,8.371587e-01,3.692255e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
wireless_internet,39517.0,9.676089e-01,1.770388e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
price,39517.0,1.466422e+02,2.115314e+02,0.000000e+00,6.900000e+01,1.000000e+02,1.750000e+02,1.000000e+04
guests_included,39517.0,1.483058e+00,1.090081e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.600000e+01
minimum_nights,39517.0,4.014652e+00,1.274415e+01,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.250000e+03
maximum_nights,39517.0,5.945013e+04,1.083031e+07,1.000000e+00,2.900000e+01,1.125000e+03,1.125000e+03,2.147484e+09
number_of_reviews,39517.0,1.818949e+01,3.311631e+01,0.000000e+00,1.000000e+00,5.000000e+00,2.000000e+01,4.890000e+02
review_scores_rating,39517.0,7.199957e+01,4.026665e+01,-1.000000e+00,7.700000e+01,9.300000e+01,9.800000e+01,1.000000e+02
cancellation_policy_id,39517.0,2.823772e+00,1.290355e+00,1.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,6.000000e+00
reviews_per_month,39517.0,1.137440e+00,1.567506e+00,0.000000e+00,6.000000e-02,4.800000e-01,1.680000e+00,2.453000e+01
Misdem,39517.0,3.416145e+03,1.862122e+03,2.600000e+01,2.103000e+03,2.982000e+03,4.543000e+03,9.606000e+03
Felony,39517.0,2.007336e+03,1.077204e+03,3.000000e+01,1.227000e+03,1.805000e+03,2.595000e+03,5.793000e+03
Stores,39517.0,1.279732e+02,5.745337e+01,0.000000e+00,9.300000e+01,1.290000e+02,1.600000e+02,3.170000e+02
StoresArea,39517.0,3.267544e+05,1.575374e+05,0.000000e+00,2.279420e+05,3.070310e+05,4.169900e+05,8.360650e+05
CensusTract,39517.0,3.605621e+10,1.238371e+07,3.600500e+10,3.604704e+10,3.606100e+10,3.606102e+10,3.608503e+10
TotalPop,39517.0,5.139337e+03,2.448587e+03,1.490000e+02,3.364000e+03,4.458000e+03,6.698000e+03,1.623100e+04
Men,39517.0,2.469803e+03,1.163162e+03,7.300000e+01,1.604000e+03,2.214000e+03,3.170000e+03,8.315000e+03
Women,39517.0,2.669534e+03,1.332540e+03,6.200000e+01,1.752000e+03,2.328000e+03,3.330000e+03,9.307000e+03
Hispanic,39517.0,2.384604e+01,2.042987e+01,0.000000e+00,8.600000e+00,1.670000e+01,3.170000e+01,9.400000e+01
White,39517.0,4.212702e+01,2.743773e+01,0.000000e+00,1.550000e+01,4.190000e+01,6.760000e+01,1.000000e+02
Black,39517.0,1.979751e+01,2.546024e+01,0.000000e+00,2.000000e+00,5.100000e+00,3.230000e+01,9.780000e+01
Native,39517.0,1.520384e-01,4.346919e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.800000e+00
Asian,39517.0,1.136973e+01,1.291106e+01,0.000000e+00,3.600000e+00,7.500000e+00,1.420000e+01,8.980000e+01
Citizen,39517.0,3.558841e+03,1.816593e+03,1.020000e+02,2.256000e+03,3.075000e+03,4.728000e+03,1.392900e+04
Income,39517.0,6.881833e+04,3.352827e+04,1.101100e+04,4.228400e+04,6.107800e+04,8.931500e+04,2.443750e+05
IncomeErr,39517.0,1.393301e+04,8.931654e+03,1.485000e+03,7.769000e+03,1.156100e+04,1.738800e+04,1.189710e+05
IncomePerCap,39517.0,4.855753e+04,3.251409e+04,7.082000e+03,2.341100e+04,3.505200e+04,6.568900e+04,2.542040e+05
IncomePerCapErr,39517.0,7.904484e+03,6.191866e+03,1.058000e+03,3.602000e+03,5.650000e+03,9.875000e+03,8.043600e+04
Poverty,39517.0,1.862205e+01,1.072888e+01,8.000000e-01,1.000000e+01,1.650000e+01,2.600000e+01,6.830000e+01
ChildPoverty,39517.0,2.270145e+01,1.894727e+01,0.000000e+00,5.400000e+00,1.930000e+01,3.710000e+01,9.200000e+01
Professional,39517.0,5.095418e+01,1.861412e+01,4.000000e+00,3.570000e+01,5.050000e+01,6.850000e+01,9.330000e+01
Service,39517.0,1.815369e+01,1.096307e+01,0.000000e+00,8.100000e+00,1.700000e+01,2.710000e+01,5.590000e+01
Office,39517.0,2.097982e+01,5.472570e+00,5.100000e+00,1.730000e+01,2.050000e+01,2.440000e+01,4.660000e+01
Construction,39517.0,3.897862e+00,3.680068e+00,0.000000e+00,1.100000e+00,2.900000e+00,5.800000e+00,2.380000e+01
Production,39517.0,6.012855e+00,4.633544e+00,0.000000e+00,2.200000e+00,5.200000e+00,8.900000e+00,2.940000e+01
Drive,39517.0,1.035134e+01,9.026543e+00,0.000000e+00,4.800000e+00,7.800000e+00,1.270000e+01,7.700000e+01
Carpool,39517.0,2.324797e+00,2.526435e+00,0.000000e+00,7.000000e-01,1.700000e+00,3.100000e+00,2.640000e+01
Transit,39517.0,6.327432e+01,1.254384e+01,9.100000e+00,5.560000e+01,6.600000e+01,7.230000e+01,9.220000e+01
Walk,39517.0,1.404064e+01,1.157492e+01,0.000000e+00,5.600000e+00,9.600000e+00,2.040000e+01,6.010000e+01
OtherTransp,39517.0,4.299929e+00,3.091833e+00,0.000000e+00,2.000000e+00,3.800000e+00,6.200000e+00,1.890000e+01
WorkAtHome,39517.0,5.706610e+00,3.458510e+00,0.000000e+00,3.000000e+00,5.600000e+00,7.800000e+00,2.520000e+01
MeanCommute,39517.0,3.499276e+01,7.007710e+00,1.710000e+01,3.000000e+01,3.580000e+01,4.030000e+01,6.370000e+01
Employed,39517.0,2.841399e+03,1.500236e+03,1.030000e+02,1.720000e+03,2.502000e+03,3.696000e+03,1.014800e+04
PrivateWork,39517.0,8.169382e+01,5.983537e+00,5.950000e+01,7.790000e+01,8.260000e+01,8.600000e+01,1.000000e+02
PublicWork,39517.0,1.053464e+01,5.920380e+00,0.000000e+00,6.000000e+00,9.200000e+00,1.420000e+01,3.740000e+01
SelfEmployed,39517.0,7.669595e+00,3.402048e+00,0.000000e+00,5.200000e+00,7.600000e+00,1.010000e+01,2.120000e+01
FamilyWork,39517.0,1.049548e-01,3.206151e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.900000e+00
Unemployment,39517.0,8.593853e+00,4.758540e+00,0.000000e+00,4.900000e+00,7.500000e+00,1.150000e+01,3.620000e+01
hmda_median_price,39517.0,1.028202e+06,5.337204e+05,5.000000e+03,6.850000e+05,9.350000e+05,1.225000e+06,6.505000e+06
availability_30,39517.0,5.888984e+00,9.083550e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00,3.000000e+01
price_per_bdrm,39512.0,inf,NaN,0.000000e+00,6.500000e+01,9.800000e+01,1.590000e+02,inf

In [ ]:
df0.columns

Index(['id', 'host_is_superhost', 'Greenpoint', 'Chelsea', 'East_Harlem',
       'Midtown', 'Crown_Heights', 'Upper_East_Side', 'Hells_Kitchen',
       'Upper_West_Side', 'East_Village', 'Bushwick', 'Harlem',
       'Bedford_Stuyvesant', 'Williamsburg', 'latitude', 'longitude',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'real_bed',
       'washer_dryer', 'free_parking', 'kitchen', 'air_conditioning',
       'wireless_internet', 'price', 'guests_included', 'minimum_nights',
       'maximum_nights', 'number_of_reviews', 'review_scores_rating',
       'cancellation_policy_id', 'reviews_per_month', 'Misdem', 'Felony',
       'Stores', 'StoresArea', 'CensusTract', 'County', 'Borough', 'TotalPop',
       'Men', 'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian',
       'Citizen', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr',
       'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office',
       'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'Walk',
       'OtherTransp', 'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'hmda_median_price', 'availability_30', 'neighbourhood_cleansed',
       'price_per_bdrm'],
      dtype='object')

# 200 Experiment with 2.2 Auto-ML

References:  https://towardsdatascience.com/creating-the-whole-machine-learning-pipeline-with-pycaret-db39a3006840  https://github.com/pycaret/pycaret/blob/master/tutorials/Regression%20Tutorial%20Level%20Intermediate%20-%20REG102.ipynb and https://www.kdnuggets.com/2020/11/5-things-doing-wrong-pycaret.html

This section is based on the PyCaret tutorial for regession found at https://www.pycaret.org/tutorials/html/REG101.html. From this article: 
> PyCaret's Regression module (pycaret.regression) is a supervised machine learning module which is used for predicting continuous values / outcomes using various techniques and algorithms. Regression can be used for predicting values / outcomes such as sales, units sold, temperature or any number which is continuous. 

> PyCaret's regression module has over 25 algorithms and 10 plots to analyze the performance of models. Be it hyper-parameter tuning, ensembling or advanced techniques like stacking, PyCaret's regression module has it all.

### 200.6 Setting up PyCaret Environment
> The setup() function initializes the environment in pycaret and creates the transformation pipeline to prepare the data for modeling and deployment. setup() must be called before executing any other function in pycaret. It takes two mandatory parameters: a pandas dataframe and the name of the target column. All other parameters are optional and are used to customize the pre-processing pipeline (we will see them in later tutorials).

> When setup() is executed, PyCaret's inference algorithm will automatically infer the data types for all features based on certain properties. The data type should be inferred correctly but this is not always the case. To account for this, PyCaret displays a table containing the features and their inferred data types after setup() is executed. If all of the data types are correctly identified enter can be pressed to continue or quit can be typed to end the expriment. Ensuring that the data types are correct is of fundamental importance in PyCaret as it automatically performs a few pre-processing tasks which are imperative to any machine learning experiment. These tasks are performed differently for each data type which means it is very important for them to be correctly configured.

Note that we use the numeric_features() to force the classification of features. 
- Iterative imputation has a default of 5
- Light Gradiant Boosting Machine is chosen as the imputation method
- The data is normalized using the 'robust' setting
- Robust normalization scales according to the interquartile ranges and is recommended for data with outliers

Documentation on setup():  https://pycaret.org/regression/

In [ ]:
# Note we are forcing the classification of all features that are not correctly implied by setup()
# Ignore 'id' since it is a key (otherwise makes many categorical vars)
exp_reg101 = setup(data = df0, target = 'price_per_bdrm',  log_experiment = False, experiment_name = '1 initial experiment', \
                   ignore_features = ['price','id','CensusTract','County','Borough','neighbourhood_cleansed'], train_size = 0.9,\
                   imputation_type = 'iterative', numeric_iterative_imputer = 'lightgbm',\
                   normalize=True, normalize_method='robust', pca=False, numeric_features = \
                   ['availability_30','host_is_superhost','Greenpoint', 'Chelsea', 'East_Harlem',\
                    'Midtown', 'Crown_Heights', 'Upper_East_Side', 'Hells_Kitchen',\
                    'Upper_West_Side', 'East_Village', 'Bushwick', 'Harlem',\
                    'Bedford_Stuyvesant', 'Williamsburg', 'latitude', 'longitude',\
                    'accommodates', 'bathrooms', 'bedrooms', 'beds', 'real_bed',\
                    'washer_dryer', 'free_parking', 'kitchen', 'air_conditioning',\
                    'wireless_internet', 'guests_included', 'minimum_nights',\
                    'maximum_nights', 'number_of_reviews', 'review_scores_rating',\
                    'cancellation_policy_id', 'reviews_per_month', 'Misdem', 'Felony',\
                    'Stores', 'StoresArea', 'TotalPop','hmda_median_price',\
                    'Men', 'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian',\
                    'Citizen', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr',\
                    'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office',\
                    'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'Walk',\
                    'OtherTransp', 'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork',\
                    'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment'])

> Once the setup has been succesfully executed it prints the information grid which contains several important pieces of information. Most of the information is related to the pre-processing pipeline which is constructed when setup() is executed. The majority of these features are out of scope for the purposes of this tutorial however a few important things to note at this stage include:

* session_id : A pseduo-random number distributed as a seed in all functions for later reproducibility. If no session_id is passed, a random number is automatically generated that is distributed to all functions. In this experiment, the session_id is set as 23 for later reproducibility.

* Original Data : Displays the original shape of dataset. In this experiment (23, 29) means 23 samples and 29 features including the target column.  The samples include client.matter used as a key vs. a predictive feature.

* Missing Values : When there are missing values in the original data this will show as True. For this experiment there are several missing values in the dataset.  PyCaret auto imputed values using mean.  This is configurable.

* Numeric Features : Number of features inferred as numeric. Note we forced several in the setup() function above

* Categorical Features : Number of features inferred as categorical. 

* Transformed Train Set : Displays the shape of the transformed training set. Notice that the original shape of (23, 29) is transformed into (16, 43) for the transformed train set. The number of features has increased from 29 from 43 due to categorical encoding

* Transformed Test Set : Displays the shape of transformed test/hold-out set. There are 1621 samples in test/hold-out set. This split is based on the default value of 70/30 that can be changed using train_size parameter in setup.

> Notice how a few tasks that are imperative to perform modeling are automatically handled such as missing value imputation, categorical encoding etc. Most of the parameters in setup() are optional and used for customizing the pre-processing pipeline.

In [ ]:
# Call help function to see what data is in the resulting object
help(get_config)

Help on function get_config in module pycaret.regression:

get_config(variable: str)
    This function retrieves the global variables created when initializing the
    ``setup`` function. Following variables are accessible:

    - X: Transformed dataset (X)
    - y: Transformed dataset (y)
    - X_train: Transformed train dataset (X)
    - X_test: Transformed test/holdout dataset (X)
    - y_train: Transformed train dataset (y)
    - y_test: Transformed test/holdout dataset (y)
    - seed: random state set through session_id
    - prep_pipe: Transformation pipeline
    - fold_shuffle_param: shuffle parameter used in Kfolds
    - n_jobs_param: n_jobs parameter used in model training
    - html_param: html_param configured through setup
    - create_model_container: results grid storage container
    - master_model_container: model storage container
    - display_container: results display container
    - exp_name_log: Name of experiment
    - logging_param: log_experiment param
    - log_plots_param: log_plots param
    - USI: Unique session ID parameter
    - fix_imbalance_param: fix_imbalance param
    - fix_imbalance_method_param: fix_imbalance_method param
    - data_before_preprocess: data before preprocessing
    - target_param: name of target variable
    - gpu_param: use_gpu param configured through setup
    - fold_generator: CV splitter configured in fold_strategy
    - fold_param: fold params defined in the setup
    - fold_groups_param: fold groups defined in the setup
    - stratify_param: stratify parameter defined in the setup
    - transform_target_param: transform_target_param in setup
    - transform_target_method_param: transform_target_method_param in setup


    Example
    -------
    >>> from pycaret.datasets import get_data
    >>> boston = get_data('boston')
    >>> from pycaret.regression import *
    >>> exp_name = setup(data = boston,  target = 'medv')
    >>> X_train = get_config('X_train')


    Returns:
        Global variable

In [ ]:
# Print data following transformation.  Note imputation of missing values.
# investigate TrgtMultiNat_0.0, TrgtMultiNat_1.0, RegHurdle_not_available

trainingData = get_config('X_train')

# testX.head().T
trainingData.describe().T

,count,mean,std,min,25%,50%,75%,max
host_is_superhost,32347.0,0.112159,0.315623,0.000000,0.000000,0.0,0.000000,1.000000
Greenpoint,32347.0,0.020466,0.141602,0.000000,0.000000,0.0,0.000000,1.000000
Chelsea,32347.0,0.022722,0.148998,0.000000,0.000000,0.0,0.000000,1.000000
East_Harlem,32347.0,0.028194,0.165525,0.000000,0.000000,0.0,0.000000,1.000000
Midtown,32347.0,0.021177,0.143964,0.000000,0.000000,0.0,0.000000,1.000000
...,...,...,...,...,...,...,...,...
SelfEmployed,32347.0,0.007470,0.693928,-1.551020,-0.489796,0.0,0.510204,2.775510
FamilyWork,32347.0,0.104779,0.320889,0.000000,0.000000,0.0,0.000000,3.900000
Unemployment,32347.0,0.156029,0.715016,-1.149254,-0.402985,0.0,0.597015,4.253731
hmda_median_price,32347.0,0.192397,0.996798,-1.716981,-0.452830,0.0,0.547170,10.547170
availability_30,32347.0,0.674591,1.023743,0.000000,0.000000,0.0,1.000000,3.333333

Compare Models
> Comparing all models to evaluate performance is the recommended starting point for modeling once the setup is completed (unless you exactly know what kind of model you need, which is often not the case). This function trains all models in the model library and scores them using kfold cross validation for metric evaluation. The output prints a score grid that shows average MAE, MSE, RMSE, R2, RMSLE and MAPE accross the folds (10 by default) of all the available models in the model library.

We are forcing the model to sort by the r-squared value, to round off to 2 digits, and limiting the folds given the extremely small data set. 

Documentation for parameters found:  https://pycaret.readthedocs.io/en/latest/api/regression.html

In [ ]:
compare_models(sort="MSE", round=2, fold=10)

IntProgress(value=0, description='Processing: ', max=99)

Initiated  . . . . . . . . . . . . . . . . . .                21:20:35
Status     . . . . . . . . . . . . . . . . . .  Compiling Final Models
Estimator  . . . . . . . . . . . . . . . . . .         Huber Regressor

AttributeError: 'str' object has no attribute 'decode'

From reference material regarding "compare models()":
> Two simple words of code (not even a line) have created over 22 models using 10 fold cross validation and evaluated the 6 most commonly use regression metrics (MAE, MSE, RMSE, R2, RMSLE and MAPE). The score grid printed above highlights the highest performing metric for comparison purposes only. The grid by default is sorted using R2 (highest to lowest) which can be changed by passing sort parameter. For example compare_models(sort = 'RMSLE') will sort the grid by RMSLE (lower to higher since lower is better). If you want to change the fold parameter from the default value of 10 to a different value then you can use the fold parameter. For example compare_models(fold = 5) will compare all models on 5 fold cross validation. Reducing the number of folds will improve the training time.

### 200.8 Create Models based on Comparison above

From the reference material:
> While compare_models() is a powerful function and often a starting point in any experiment, it does not return any trained models. PyCaret's recommended experiment workflow is to use compare_models() right after setup to evaluate top performing models and finalize a few candidates for continued experimentation. As such, the function that actually allows to you create a model is unimaginatively called create_model(). This function creates a model and scores it using stratified cross validation. Similar to compare_models(), the output prints a score grid that shows MAE, MSE, RMSE, R2, RMSLE and MAPE by fold.

Below we will explore the top three models from the 25 available:

* Elastic Net 'ada'
* CatBoost Regressor 'catboost'
* Linear Regression 'lr'

Doc reference:  https://pycaret.org/create-model/

### Create Huber Regression Model

In [ ]:
huberReg = create_model('huber', round = 3)

In [ ]:
# tuned_huberReg = tune_model(huberReg, round=3)
# tuned_huberReg

In [ ]:
plot_model(huberReg, plot='feature')

### 200.8.1 Create Light Gradient Boosting Machine Model

In [ ]:
lightgbm = create_model('lightgbm', round = 3)

In [ ]:
tuned_lightgbm = tune_model(lightgbm, round=3)
tuned_lightgbm

In [ ]:
plot_model(tuned_lightgbm, plot='feature')

In [ ]:
evaluate_model(tuned_lightgbm)

### Create Linear Regression Model

In [ ]:
linear_reg = create_model('lr', round = 3)

In [ ]:
plot_model(linear_reg, plot='feature')

### Explore Recursive Feature Elimination for Linear Regression
This section uses the sklearn library in Python.

In [ ]:
X_train_pc = get_config('X_train')
y_train_pc = get_config('y_train')

X_test_pc = get_config('X_test')
y_test_pc = get_config('y_test')

In [ ]:
# Running RFE with the output number of the variable equal to 10
lm = LinearRegression()
rfe = RFE(lm, n_features_to_select=5)             # running RFE
rfe = rfe.fit(X_train_pc, y_train_pc)
print(rfe.support_)           # Printing the boolean results
print(rfe.ranking_)

In [ ]:
X_train_pc.loc[:, rfe.support_].columns

### Linear Regression Iteration 1
Create a linear regression model using all the variables. Then iterate buy creating a new model that only uses the variables with a p-value of 0.000. This is a quick method for identifying features with higher importance to the linear regression model.

In [ ]:
lr_model = lm.fit(X_train_pc, y_train_pc)
lr_model

In [ ]:
model = sm.OLS(y_train_pc, X_train_pc).fit()
predictions = model.predict(X_train_pc) 
print_model = model.summary()
print(print_model)

### Linear Regression Iteration 2

In [ ]:
# Reduce to onlyy those with p-value = .000
X_train_1 = X_train_pc[['host_is_superhost',\
             'accommodates', 'bathrooms', 'bedrooms','availability_30',\
             'washer_dryer', 'kitchen', \
             'wireless_internet', \
             'review_scores_rating',\
             'reviews_per_month', 'Misdem', 'Felony',\
             'Stores', 'TotalPop',\
             'Men', 'Women', \
             'IncomePerCap','hmda_median_price',\
             'Drive', 'Carpool', 'Transit', 'Walk',\
             'OtherTransp', 'WorkAtHome', 'MeanCommute', 'Employed']]

In [ ]:
model2 = sm.OLS(y_train_pc, X_train_1).fit()
predictions = model2.predict(X_train_1) 

print_model = model2.summary()
print(print_model)

### Linear Regression Iteration 2

In [ ]:
# Reduce to onlyy those with p-value = .000
X_train_2 = X_train_pc[['host_is_superhost',\
             'accommodates', 'bathrooms', 'bedrooms',\
             'washer_dryer', 'kitchen', \
             'wireless_internet', \
             'review_scores_rating',\
             'reviews_per_month', 'Felony',\
             'TotalPop',\
             'Men', 'Women', \
             'IncomePerCap',\
             'Transit', 'Walk','hmda_median_price',\
             'OtherTransp','MeanCommute', 'availability_30']]

In [ ]:
model2 = sm.OLS(y_train_pc, X_train_2).fit()
predictions = model2.predict(X_train_2) 
model2.summary()